body {
    margin: 0;
    padding: 12px 12px;
    width: 245px;
    line-height: 150%;
    background-color: #181818;
    border: 1px solid gold;
    color: #e6e6e6;
    font-size: 12px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    margin: 0;
}

input[type='number'] {
    margin-left: auto;
    width: 74px;
    height: 14px;
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    border: none;
    background-color: #343434;
    color: #e6e6e6;
}

input[type='number']::placeholder {
    color: #747474;
}

a {
    color: #0075ff;
}

a:hover {
    color: #ffdb39;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header__text {
    margin: 0;
}

.header__button {
    width: 78px;
    height: 31px;
    color: white;
    background-color: #222222;
    border: 1px solid gold;
    border-radius: 4px;
    font-size: 11px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.header__button:disabled {
    border: 1px solid #3a3a3a;
    color: #5d5d5d;
}

.header__button::before {
    content: '■';
    margin-right: 5px;
    font-family: system-ui;
    transition: color 0.5s;
}

.header__button[data-active='false']:before {
    content: '▶';
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gold;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 2px;
}

.title__text {
    margin: 0;
    font-size: 14px;
}

.title__help {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    color: #181818;
    font-size: 10px;
    font-weight: bold;
    background-color: #e6e6e6;
    border-radius: 50%;
}

.setting {
    margin: 3px 0;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 22px;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #343434;
    border-radius: 3px;
}

.container:hover input ~ .checkmark {
    background-color: #444444;
}

.container input:checked ~ .checkmark {
    background-color: #575757;
}
.container input:disabled ~ .checkmark {
    background-color: #444444;
}
.container:hover input:checked ~ .checkmark {
    background-color: #444444;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}
.container input:disabled ~ .checkmark:after {
    border: solid #8a8a8a;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
}

.container .checkmark:after {
    inset: 0;
    margin: auto;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
}
